{% load static %}
<!DOCTYPE html>
<html data-theme="light-theme">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <!-- tailwind css -->
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
    <!-- boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- daisyui -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" /> -->
  </head>

  <body>
    <div class="navbar justify-around shadow-sm">
      <a href="{% url 'register:login' %}" class="btn btn-outline text-lg"
        >LOGIN</a
      >
      <a href="{% url 'register:signup' %}" class="btn btn-outline text-lg"
        >SIGN UP</a
      >
      <a
        class=" bx bx-cog text-3xl text-neutral-400 hover:text-indigo-500 dark:hover:text-white cursor-pointer"
        href="{% url 'admin:index' %}"
      ></a>
    </div>

    <main class="m-9 py-8 px-8">{% block content %} {% endblock %}</main>
  </body>
</html>
